# `cd` replacement for projects
# taken from https://coderwall.com/p/feoi0a
code_dir="$HOME/Projects"
wo() {
    if [ -z $* ]; then
        echo "Please provide the name of the project you want to work on."
        return;
    fi
    cd $(find $code_dir -type d -maxdepth 3 | grep -i $* | grep -Ev Pods/ --max-count=1)
}

# quickly open Xcode projects and workspaces
# taken from https://github.com/asmallteapot/dotfiles/blob/master/zsh-alias
xcode_path="/Applications/Xcode.app"
xcode() {
    # get an array of .xcworkspace and .xcodeproj files
    workspaces=(`ls -d1 *.(xcworkspace|xcodeproj) | sed -e "s/\///g"`) &> /dev/null
    filenames=(`ls -d1 *.(xcworkspace|xcodeproj) | sed -e "s/\..*$//g"`) &> /dev/null

    if [[ ${#workspaces} == 0 ]]; then
        echo "No Xcode projects or workspaces were found."
        return
    fi

    # if there's just one matching file, open it.
    if [[ ${#workspaces} == 1 ]]; then
        `open $workspaces[1] -a $xcode_path`
        return
    fi

    # if there's just and xcodeproj and xcworkspace with the same name,
    # open the xcworkspace - it's probably a Cocoapods setup.
    if [[ ${#workspaces} == 2 ]]; then
        if [[ $filenames[1] == $filenames[2] ]]; then
            `open $workspaces[2] -a $xcode_path`
            return
        fi
    fi

    # present a list of projects/workspaces, de-duped by name
    counter=1
    echo "Multiple choice currently isn't enabled. Available workspaces:"
    for workspace in $workspaces; do
        echo "$counter. $workspace"
        ((counter++))
    done
}

# switch to objective-c gemset if necessary and update cocoapods
objective_c_gemset="objective-c"
update-cocoapods() {
    current_gemset=$(rvm gemset name);
    if [ $current_gemset != $objective_c_gemset ]; then
        rvm gemset use objective-c
    fi
    
    gem update cocoapods
    
    if [ $current_gemset != $objective_c_gemset ]; then
        rvm gemset use $current_gemset
    fi
    unset $current_gemset
}

# fix the bug with "Open With" duplicated
# taken from https://github.com/aziz/dotfiles/blob/master/bash/aliases/osx.aliases.bash
fix-open-with-duplicates() {
    /System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain user
    killall Finder
    echo '"Open With" has been rebuilt, Finder will relaunch.'
}
