# Functions

# `cd` replacement for projects
# (taken from https://coderwall.com/p/feoi0a)
code_dir="$HOME/Projects"
wo() {
    if [ -z $* ]; then
        echo "Please provide the name of the project you want to work on."
        return;
    fi
    cd $(find $code_dir -type d -maxdepth 3 | grep -i $* | grep -Ev Pods/ --max-count=1)
}

# Fix the bug with "Open With" duplicated
# (taken from https://github.com/aziz/dotfiles/blob/master/bash/aliases/osx.aliases.bash)
fix-open-with-duplicates() {
    /System/Library/Frameworks/CoreServices.framework/Versions/A/Frameworks/LaunchServices.framework/Versions/A/Support/lsregister -kill -r -domain local -domain user
    killall Finder
    echo '"Open With" has been rebuilt, Finder will relaunch.'
}

# Prints a list of the longest Objective-C implementation files in a project
# (presented by Chris Eidhof (@chriseidhof) at Macoun 2013)
# An article about this topic: http://chris.eidhof.nl/post/43925321331/how-to-keep-your-classes-small-and-clean
list-implementation-files() {
    find . -path "./Pods" -prune -o \
           -path "./Tests" -prune -o \
           -path "./Dependencies" -prune -o \
           -name "*.m" -exec wc -l "{}" \; | sort -n
}
